# Notebook 2 - Python Data Structures

# Tuples

In [1]:
my_tuple = ("Python",1, True, False, 2.2 )
my_tuple

('Python', 1, True, False, 2.2)

In [2]:
type(my_tuple)

tuple

In [3]:
len(my_tuple)

5

In [4]:
print( my_tuple[0])
print( my_tuple[1])
print( my_tuple[4])

Python
1
2.2

In [5]:
print( type(my_tuple[0]))
print( type(my_tuple[1]))
print( type(my_tuple[2]))
print( type(my_tuple[3]))
print( type(my_tuple[4]))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'float'>

In [6]:
print( my_tuple[-1])
print( my_tuple[-2])
print( my_tuple[-3])

2.2
False
True

In [7]:
my_tuple[2] = 4   #Cant alter the tuple

TypeError: 'tuple' object does not support item assignment

In [8]:
my_tuple2 = my_tuple + ("Anaconda", 120)
my_tuple2

('Python', 1, True, False, 2.2, 'Anaconda', 120)

In [9]:
my_tuple2[0:2]

('Python', 1)

In [10]:
my_tuple2[0:]

('Python', 1, True, False, 2.2, 'Anaconda', 120)

In [11]:
my_tuple2[:3]

('Python', 1, True)

In [12]:
del(my_tuple2)

In [13]:
Scores = (10, 8 , 3, 2 , 4, 0 , 0, 3)
Scores

(10, 8, 3, 2, 4, 0, 0, 3)

In [14]:
type(Scores)

tuple

In [15]:
sorted_Scores = sorted(Scores, reverse=True)
sorted_Scores

[10, 8, 4, 3, 3, 2, 0, 0]

In [16]:
del(Scores)

In [17]:
Scores   # error as its no more available

NameError: name 'Scores' is not defined

# Lists

In [18]:
my_list = ["Virat", 9.34, 1982, True]
my_list

['Virat', 9.34, 1982, True]

In [19]:
type(my_list)

list

In [20]:
my_list.append("Ram")

In [21]:
my_list #Append can use in lists

['Virat', 9.34, 1982, True, 'Ram']

In [22]:
print(my_list[0] , "    " , my_list[-5])
print(my_list[1] , "    " , my_list[-4])
print(my_list[2] , "    " , my_list[-3])
print(my_list[3] , "    " , my_list[-2])
print(my_list[4] , "    " , my_list[-1])

Virat      Virat
9.34      9.34
1982      1982
True      True
Ram      Ram

In [23]:
my_list

['Virat', 9.34, 1982, True, 'Ram']

In [24]:
num1 = 23 
tuple1 = (1, 3, 9)
list1 = ["Sachin", 982, True]

mixed_list = ["Virat", 9.34, 1982, True, num1, tuple1, list1, [ 34, 23], ('a', 'v')]
mixed_list #List of lists

['Virat',
 9.34,
 1982,
 True,
 23,
 (1, 3, 9),
 ['Sachin', 982, True],
 [34, 23],
 ('a', 'v')]

In [25]:
mixed_list[:]

['Virat',
 9.34,
 1982,
 True,
 23,
 (1, 3, 9),
 ['Sachin', 982, True],
 [34, 23],
 ('a', 'v')]

In [26]:
mixed_list[1:]

[9.34, 1982, True, 23, (1, 3, 9), ['Sachin', 982, True], [34, 23], ('a', 'v')]

In [27]:
mixed_list[:2]

['Virat', 9.34]

In [28]:
mixed_list[:-1]

['Virat', 9.34, 1982, True, 23, (1, 3, 9), ['Sachin', 982, True], [34, 23]]

In [29]:
my_list = ["Virat", 9.34, 1982, True]
my_list.append(["Ram",1,2,3,4,5])

In [30]:
my_list

['Virat', 9.34, 1982, True, ['Ram', 1, 2, 3, 4, 5]]

In [31]:
my_list = ["Virat", 9.34, 1982, True]

my_list.extend(['new_item',100,1,2,0.1])
my_list

['Virat', 9.34, 1982, True, 'new_item', 100, 1, 2, 0.1]

In [32]:
my_list = ["Virat", 9.34, 1982, True]

my_list.remove("Virat")
my_list

[9.34, 1982, True]

In [33]:
my_list = ["Virat", 9.34, 1982, True]
print("Original : " , my_list)

my_list[1] = 34.3
print("After modification: " , my_list)  #lists can be altered

Original :  ['Virat', 9.34, 1982, True]
After modification:  ['Virat', 34.3, 1982, True]

In [34]:
my_list = ["Virat", 9.34, 1982, True]
print("Before : " , my_list)

del(my_list[2])
print("After : " , my_list)

Before :  ['Virat', 9.34, 1982, True]
After :  ['Virat', 9.34, True]

In [35]:
'This string needs to be splitted'.split()

['This', 'string', 'needs', 'to', 'be', 'splitted']

In [36]:
splitted_str = 'This string needs to be splitted'.split()
print(splitted_str)

print(splitted_str[0])
print(splitted_str[1])
print(splitted_str[2])
print(splitted_str[3])
print(splitted_str[4])
print(splitted_str[5])

print(type(splitted_str))

print(len(splitted_str))

['This', 'string', 'needs', 'to', 'be', 'splitted']
This
string
needs
to
be
splitted
<class 'list'>
6

In [37]:
splitted_str = 'This string, needs to be splitted'.split(',')
print(splitted_str)

print(splitted_str[0])
print(splitted_str[1])

print(type(splitted_str))

print(len(splitted_str))

['This string', ' needs to be splitted']
This string
 needs to be splitted
<class 'list'>
2

In [38]:
list5 = [1, 3, 5, 7 , -1 , 2]
print(list5)

list5.sort(reverse=True)
print(list5)

list5.sort()
print(list5)

[1, 3, 5, 7, -1, 2]
[7, 5, 3, 2, 1, -1]
[-1, 1, 2, 3, 5, 7]

In [39]:
list6 = list(range(1, 10, 1))
print(list6)

list6 = list(range(1, 10, 2))
print(list6)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [40]:
type(list(range(1, 10, 1)))

list

In [41]:
list7 = [1, 3, 5, 7 , -1 , 2]
print(list7)

list7.reverse()
print(list7)

[1, 3, 5, 7, -1, 2]
[2, -1, 7, 5, 3, 1]

In [42]:
my_tuple = (1, 3, 5, 7 , -1 , 2)
print(my_tuple)

few_elements = my_tuple[:2]
print(few_elements)

list_from_tupple = list(few_elements)
print(list_from_tupple) #converting tuple to list

tuple_from_list = tuple(list_from_tupple)
print(tuple_from_list) #converting list to tuple

(1, 3, 5, 7, -1, 2)
(1, 3)
[1, 3]
(1, 3)

# Dictionaries

In [43]:
my_dict = {"name":"pravin", "age":22, "marks":[30, 23, 13], "assign_grades":('A','B','A')}
print(my_dict)
print(type(my_dict))  #Key value format

{'name': 'pravin', 'age': 22, 'marks': [30, 23, 13], 'assign_grades': ('A', 'B', 'A')}
<class 'dict'>

In [44]:
len(my_dict)

4

In [45]:
print(my_dict["name"])
print(my_dict["age"])

pravin
22

In [46]:
print(my_dict["name"])
print(my_dict["age"])
print(my_dict["marks"])
print(my_dict["assign_grades"])

pravin
22
[30, 23, 13]
('A', 'B', 'A')

In [47]:
my_age = my_dict.get("age")
my_age #Using get function to get the age

22

In [48]:
my_dict["name"] = "pawar"
my_dict #Altering dictionary element

{'name': 'pawar',
 'age': 22,
 'marks': [30, 23, 13],
 'assign_grades': ('A', 'B', 'A')}

In [49]:
my_dict["Gender"] = "Male"
my_dict #Adding new eliments to dictionary

{'name': 'pawar',
 'age': 22,
 'marks': [30, 23, 13],
 'assign_grades': ('A', 'B', 'A'),
 'Gender': 'Male'}

In [50]:
key_list = my_dict.keys()
print(key_list)

dict_keys(['name', 'age', 'marks', 'assign_grades', 'Gender'])

In [51]:
dict_values = my_dict.values()
dict_values

dict_values(['pawar', 22, [30, 23, 13], ('A', 'B', 'A'), 'Male'])

In [52]:
dict_items = my_dict.items()
dict_items

dict_items([('name', 'pawar'), ('age', 22), ('marks', [30, 23, 13]), ('assign_grades', ('A', 'B', 'A')), ('Gender', 'Male')])

In [53]:
del(my_dict['name'])
print(my_dict)

{'age': 22, 'marks': [30, 23, 13], 'assign_grades': ('A', 'B', 'A'), 'Gender': 'Male'}

In [54]:
my_dict.popitem()

('Gender', 'Male')

In [55]:
my_dict

{'age': 22, 'marks': [30, 23, 13], 'assign_grades': ('A', 'B', 'A')}

In [56]:
emp_data = { 1:['Emp A', 34] , 2:['Emp B', 35], 3:['Emp C', 36]}

print(emp_data)

{1: ['Emp A', 34], 2: ['Emp B', 35], 3: ['Emp C', 36]}

In [57]:
emp_data[2]

['Emp B', 35]

In [58]:
emp_data[2] = ['Emp F', 45]
print(emp_data)

{1: ['Emp A', 34], 2: ['Emp F', 45], 3: ['Emp C', 36]}

In [59]:
emp_data[4] = ['Emp D', 45]
print(emp_data)

{1: ['Emp A', 34], 2: ['Emp F', 45], 3: ['Emp C', 36], 4: ['Emp D', 45]}

In [60]:
emp_data.pop(2)
print(emp_data)

{1: ['Emp A', 34], 3: ['Emp C', 36], 4: ['Emp D', 45]}

# Sets

In [61]:
city_set = {"Pune", "Mumbai", "Pune", "Mumbai", "Bangalore", "Delhi", "pune"}
print(city_set)
print(type(city_set)) #no key value #Sets are unordered collection of objects

{'Mumbai', 'Pune', 'pune', 'Bangalore', 'Delhi'}
<class 'set'>

In [62]:
city_list1 = ["Pune", "Mumbai", "Pune", "Mumbai", "Bangalore", "Delhi"]
print(city_list1)
city_set = set(city_list1)
city_set #list to set

['Pune', 'Mumbai', 'Pune', 'Mumbai', 'Bangalore', 'Delhi']

{'Bangalore', 'Delhi', 'Mumbai', 'Pune'}

In [63]:
country_set = {"India", "US", "US", "India"}
country_set

{'India', 'US'}

In [64]:
country_set.add("uk")
country_set

{'India', 'US', 'uk'}

In [65]:
country_set.remove("uk")
country_set

{'India', 'US'}

In [66]:
maharashtra_cities = {"Pune", "Mumbai", "Nagpur"}
goa_cities = {"Panjim", "Vasco", "Madgaon"}
western_region_cities = {"Panjim", "Vasco", "Pune", "Mumbai", "Nagpur"}

In [67]:
common_cities = maharashtra_cities & western_region_cities
common_cities

{'Mumbai', 'Nagpur', 'Pune'}

In [68]:
print(maharashtra_cities.intersection(western_region_cities))

{'Pune', 'Nagpur', 'Mumbai'}

In [69]:
all_cities = maharashtra_cities | western_region_cities | goa_cities
all_cities

{'Madgaon', 'Mumbai', 'Nagpur', 'Panjim', 'Pune', 'Vasco'}

In [70]:
print((maharashtra_cities.union(western_region_cities)).union(goa_cities))

{'Nagpur', 'Madgaon', 'Vasco', 'Mumbai', 'Pune', 'Panjim'}

In [71]:
western_region_cities.difference(maharashtra_cities)

{'Panjim', 'Vasco'}

In [72]:
maharashtra_cities.difference(western_region_cities)

set()

In [73]:
goa_cities.difference(western_region_cities)

{'Madgaon'}

In [74]:
maharashtra_cities.difference(western_region_cities) #all are exist in western region then use symmetric difference

set()

In [75]:
maharashtra_cities.symmetric_difference(western_region_cities)

{'Panjim', 'Vasco'}

In [76]:
duplicate_items_list = [1, 2, 3, 2, 3, 4]
print(duplicate_items_list)

uniq_set = set(duplicate_items_list)
print(uniq_set)

[1, 2, 3, 2, 3, 4]
{1, 2, 3, 4}

In [77]:
grade_set = { 'a', 'c', 'd', 'e'}
print(grade_set)

grade_list = list(grade_set)
print(grade_list)

{'d', 'e', 'c', 'a'}
['d', 'e', 'c', 'a']